{
  "semi": true,
  "singleQuote": true,
  "printWidth": 60,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true
}